.charts {
  display: flex;
}

.basic-charts {
  display: flex;
  flex-direction: column;
}

.detail-stats {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  border: 1px solid gray;
  width: 30%;
  border-radius: 5px;
  padding: 15px;
  min-width: 300px;
  margin: auto;
  margin-bottom: 10px;
}

.stats-box {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
}

